/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
    body {
    margin: 25px;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif;
    font-size: 14px;
    }
    .grid-container {
        display: inline-grid;
        row-gap: 50px;
        column-gap: 100px;
      }
      .item1 {
        grid-column-start: 1;
        grid-column-end: 3;
      }
    /* Applies to all <h1>...</h1> elements. */
    h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
    }

    div {
      display: inline-block;
      text-align: center;
    }
    label {
      display: block;
    }
    
    /* Applies to all elements with <... class="someclass"> specified. */
    .grid-item { color: red; }
    /* Applies to the element with <... id="someid"> specified. */
    #red { color: rgb(216, 14, 44); }
    #green { color: green; }
    #blue { color: rgb(51, 16, 109); }